* {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
}

body {
  background-color: rgb(69, 69, 69);
  background-image: url("/assets/cyber.png");
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a:link {
  color: rgb(10, 113, 174);
}

a:hover {
  color: rgb(253, 7, 159);
}

button {
  font-size: 1vw;
  background-color: rgb(10, 113, 174);
  border-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  font-size: 1vw;
  background-color: rgb(253, 7, 159);
  border-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

h1 {
  font-size: 5vw;
}

.examples {
  background-color: rgb(0, 0, 0);
  margin: auto;
  width: 30%;
  border: 3px solid rgb(253, 7, 159);
  padding: 10px;
}

.footer {
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    background-color: black;
}

.back-to-top {
    position: fixed;
    bottom: 0%;
}

#html-img {
  max-width: 50%;
  height: auto;
  alt: "W3Schools.com";
  margin-top: 10px;
}