* {
  margin: auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
}

body {
  background-color: rgb(69, 69, 69);
  min-height: 100%;
  background-image: url("/assets/cyber.png");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a:hover {
  color: orange;
}

.container {
  padding-top: 150px;
}

.header h3 {
  color: orange;
  font-size: 25px;
}

.header h1 {
  padding-bottom: 30px;
  padding-top: 10px;
  font-size: 50px;
}

.header p {
  padding: 15px;
}

.options {
  font-size: 20px;
}

#spacer {
  padding-left: 20px;
}

.blog a button {
  background: orange;
  border-radius: 10px;
  border: none;
  width: 180px;
  margin-top: 78px;
  height: 55px;
  font-size: 16px;
  cursor: pointer;
}

.coindrop a img {
  border-radius: 10px;
  height: 57px;
  width: 229px;
  padding-top: 5px;
}
