* {
  margin: auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
}

body {
  background-color: rgb(0, 0, 0);
  min-height: 100%;
  background-image: url("/assets/cyber.png");
  backdrop-filter: brightness(25%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  padding-top: 200;
}

.header h3 {
  color: orange;
  font-size: 25px;
}

.header h1 {
  padding-bottom: 50;
  padding-top: 10;
  font-size: 50px;
}

.header p {
  padding: 15;
  font-size: 20px;
}

.blog a button {
  background: orange;
  border-radius: 10px;
  border: none;
  width: 180px;
  height: 55px;
  font-size: 16px;
  cursor: pointer;
}